<section class="bg-container another_profile">
  <div class="container emp-profile">
    <form method="post">
      <div class="row">
        <div class="col-md-4">
          <div class="profile-img">
            <img
              id="photo"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQPlAiIom1bx7f422n9C-OuGjb7NUH8E3-nzU18wUxa15dJaKIs"
              alt="User Photo"
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="profile-head">
            <h5>
              <p id="name"></p>
            </h5>
            <h6>
              <p id="profession"></p>
            </h6>
            <p class="proile-rating">RANKINGS : <span>8/10</span></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="profile-work">
            <p>WORK LINK</p>
            <a href="">Website Link</a><br />
            <a href="">Bootsnipp Profile</a><br />
            <a href="">Bootply Profile</a>
            <p>SKILLS</p>
            <a href="">Web Designer</a><br />
            <a href="">Web Developer</a><br />
            <a href="">WordPress</a><br />
            <a href="">WooCommerce</a><br />
            <a href="">PHP, .Net</a><br />
          </div>
        </div>
        <div class="col-md-8 information">
          <div class="tab-content profile-tab" id="myTabContent">
            <div
              class="tab-pane fade show active"
              id="home"
              role="tabpanel"
              aria-labelledby="home-tab"
            >
              <div class="row login">
                <div class="col-md-6">
                  <label>Login</label>
                </div>
                <div class="col-md-6">
                  <p id="login"></p>
                </div>
              </div>
              <div class="row email">
                <div class="col-md-6">
                  <label>Email</label>
                </div>
                <div class="col-md-6">
                  <p id="email"></p>
                </div>
              </div>
              <div class="row phone">
                <div class="col-md-6">
                  <label>Phone</label>
                </div>
                <div class="col-md-6">
                  <p id="phone"></p>
                </div>
              </div>
              <div class="row adress">
                <div class="col-md-6">
                  <label>Address</label>
                </div>
                <div class="col-md-6">
                  <p id="address"></p>
                </div>
              </div>
              <div class="row company">
                <div class="col-md-6">
                  <label>Company</label>
                </div>
                <div class="col-md-6">
                  <p id="company"></p>
                </div>
              </div>
            </div>
            <div
              class="tab-pane fade show active"
              id="timeline"
              role="tabpanel"
              aria-labelledby="timeline-tab"
            >
              <div class="row salary">
                <div class="col-md-6">
                  <label>Hourly Rate</label>
                </div>
                <div class="col-md-6">
                  <p id="salary"></p>
                </div>
              </div>
              <div class="row projects">
                <div class="col-md-6">
                  <label>Total Projects</label>
                </div>
                <div class="col-md-6">
                  <p id="projects"></p>
                </div>
              </div>
              <div class="row eng-level">
                <div class="col-md-6">
                  <label>English Level</label>
                </div>
                <div class="col-md-6">
                  <p id="level"></p>
                </div>
              </div>
              <div class="row about">
                <div class="col-md-6">
                  <label>Your Bio</label>
                </div>
                <div class="col-md-12">
                  <p id="about"></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
