<section class="chat">
  <div class="chat-menu">
    <div class="members">
      <h1 class="members-head">
        There will be users of definite room
        <small style="display:block; color:gray;">
          (please choose room)
        </small>
      </h1>
      <ul class="members-list"></ul>
    </div>
    <div class="rooms">
      <h1>Rooms:</h1>
      <ul class="rooms-list">
        <li class="add">
          <p>Add room</p>
          <button>+</button>
        </li>
      </ul>
    </div>
  </div>
  <div class="chat-content">
    <div class="chat-messages"></div>
    <form class="chat-form" action="#">
      <input class="chat-input" autocomplete="off" />
      <button class="chat-button">Send</button>
    </form>
  </div>
</section>
